main {
    padding-bottom: 5vh;
    h2 {
        margin: 2vh 0;
        font-size: xxx-large;
        text-align: center;
        @media screen and (max-width: 801px) {
            font-size: xx-large;
            margin-top: 5vh;
        }
    }

    form {
        max-width: 600px;
        margin: 3vh auto;
        padding: 2.5vw;
        background: rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        @media screen and (prefers-color-scheme: dark) {
            background: rgba(255, 255, 255, 0.03);
        }

        @media screen and (max-width: 801px) {
            max-width: 95vw;
            padding: 5vw;
            margin: 2vh auto;
        }

        label {
            display: block;
            margin-top: 1.5vh;
            margin-bottom: 0.5vh;
            font-size: 1.1rem;
            font-weight: 500;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: var(--header-footer-bg-color);
            }

            &.form {
                &.name,
                &.age,
                &.code,
                &.ide,
                &.lang {
                    display: block;
                }
            }
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 0.8vh 1vh;
            margin-bottom: 1.5vh;
            border: 2px solid var(--text-color);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            background-color: var(--main-bg-color);
            color: var(--text-color);
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;

            @media screen and (max-width: 801px) {
                padding: 1vh 1.5vh;
                font-size: 1rem;
            }

            &:focus {
                outline: none;
                border-color: var(--header-footer-bg-color);
                box-shadow: 0 0 8px var(--header-footer-bg-color);
                -webkit-box-shadow: 0 0 8px var(--header-footer-bg-color);
            }

            &:hover {
                border-color: var(--header-footer-bg-color);
            }
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 0.8vh;
            margin-top: 0.5vh;
            cursor: pointer;
            width: 1.2rem;
            height: 1.2rem;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;

            &:hover:not(:disabled) {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                filter: drop-shadow(2px 2px 2px var(--text-color));
                -webkit-filter: drop-shadow(2px 2px 2px var(--text-color));
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        input[type="radio"] + label,
        input[type="checkbox"] + label {
            display: inline;
            margin: 0 1.5vh 1.5vh 0;
            margin-top: 0.5vh;
            font-weight: 400;
            font-size: 1rem;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: var(--header-footer-bg-color);
            }
        }

        input[type="radio"] {
            margin-bottom: 1.5vh;
        }

        input[type="checkbox"] {
            margin-bottom: 1.5vh;
        }

        button[type="submit"] {
            width: 48%;
            padding: 1.2vh 2vh;
            margin-top: 2.5vh;
            margin-right: 2%;
            margin-bottom: 5vh;
            background-color: var(--header-footer-bg-color);
            color: var(--text-color);
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
                filter: drop-shadow(3px 3px 5px var(--text-color));
                -webkit-filter: drop-shadow(3px 3px 5px var(--text-color));
            }

            &:active {
                transform: scale(0.98);
                -webkit-transform: scale(0.98);
                -moz-transform: scale(0.98);
                -ms-transform: scale(0.98);
                -o-transform: scale(0.98);
            }
        }

        button[type="reset"] {
            width: 48%;
            padding: 1.2vh 2vh;
            margin-top: 2.5vh;
            margin-bottom: 5vh;
            background-color: rgba(var(--text-color), 0.2);
            color: var(--text-color);
            border: 2px solid var(--text-color);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;

            &:hover {
                background-color: rgba(240, 20, 20, 0.8);
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
                filter: drop-shadow(3px 3px 5px var(--text-color));
                -webkit-filter: drop-shadow(3px 3px 5px var(--text-color));
            }

            &:active {
                transform: scale(0.98);
                -webkit-transform: scale(0.98);
                -moz-transform: scale(0.98);
                -ms-transform: scale(0.98);
                -o-transform: scale(0.98);
            }
        }
    }
}
